body {
  background-color: white;
}

html {
  height: 100%;
}
body {
  height: auto;
  min-height: 95%;
  border: 1px solid #c1c0bd;
  background-color: #fff;
  margin-top: 1rem;
  border-radius: 1rem;
  -webkit-box-shadow: -1px 5px 35px -9px rgba(0,0,0,.2);
  -moz-box-shadow: -1px 5px 35px -9px rgba(0,0,0,.2);
  box-shadow: -1px 5px 35px -9px rgba(0,0,0,.2);
  max-width: 960px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

ul li:before {
    content: "";
}

p {
  margin: 0 0 5px;
}


#shoutbox-inner {
  margin: 10px;
  height: 100%;
  width: 100%;
  max-height: 50vh;
  overflow-y: scroll;
  background: white; 
}


.shout p:nth-child(1) {
  font-size: 1rem;
}

.shout p:nth-child(3) {
  font-style: italic;
}

.icon-bar:first-of-type:before {
  content: "Categories";
  color: black;
  position: relative;
  left: -120px;
  font-size: 1rem;
}

.loader {
  border: 10px solid black;
  border-top: 10px solid #ddd;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  -webkit-animation: spin 1s ease-in-out infinite;
          animation: spin 1s ease-in-out infinite;
  opacity: 1;
  -webkit-transition: opacity 1s;
  transition: opacity 1s; 
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }

#shoutboxForm {
  width: 100%;
  padding:  10px; 
}

#shoutboxForm input {
  display: inline-block;
  width: auto;
  margin: 5px;
  color: black;
}

#shoutboxForm input:nth-child(1) {
  width: 40%;
  border: 2px solid #41403e;

}
#shoutboxForm input, #shoutboxForm select, #shoutboxForm textarea {
  color: black;
  font-size: 1rem;
}

.modal-footer p {
  margin: 10px 0 10px; 
}

input, select {
  border: 1px solid #ccc;
}

.form-control, text-area {
  font-size: 1rem;
  color: black;
}

.shout {
  background-color: whitesmoke;
  color: black;
  margin: 5px;
  padding: 10px;
  margin-right: 0px;
  text-align: right;
  margin: 5px;
  float: right;
  clear: both; 
}

.shout h1 {
  margin-top: 5px;
}

#firebaseui-auth-container {
  display: block; 
}

#contactForm p {
  color: black; 
}

.alert-success {
  color: #ddd; 
}

.alert-danger {
  color: #ddd; 
}

.tab-pane, .tab-pane.active {
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  height: auto;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
  justify-content: left; 
}

.panel {
  border: none;
  background-color: white; 
}

.icon-bar {
  background-color: black; 
}

.board-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  height: auto;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
  justify-content: left; 
}

.board-title {
  background-color: white;
  border-radius: 0px;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: auto;
  padding: 10px;
  text-align: center;
  color: black;
}

.nav-tabs.nav-justified > li > a {
  padding: 5px;
  border: none;
}

.nav-tabs.nav-justified > li.active > a, .nav-tabs.nav-justified > li.active:hover > a, .nav-tabs.nav-justified > .active > a, .nav-tabs.nav-justified > .active > a:focus, .nav-tabs.nav-justified > .active > a:hover {
  background-color: #ddd;
  border-radius: 5px;
  color: black;
  border: none;
  outline: 0; 
}

.nav-tabs li a {
  color: black;
}

.nav-tabs>li {
    margin-bottom: 0;
}

a {
  background: none;
}

footer {
  position: absolute;
  left: 0;
  right: 0;
  text-align: center;
  color: black;
}

.add-button {
  float: right;
  margin-right: -22px;
}

.add-button:hover {
   -webkit-animation:spin 1s ease infinite;
    -moz-animation:spin 1s ease infinite;
    animation:spin 1s ease infinite;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }


.board-item {
  background-color: #ddd;
  border-radius: 5px;
  width: calc(25% - 20px);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 100px;
  margin: 10px;
  text-align: center;
  color: black;

}

.board-item h4 {
  text-decoration: underline;
  margin: 5px; 
  max-height: 40px;

}

.p-sticky, .board-item>p {
  margin-top: 5px;
  padding-top: 0px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: left;
  font-family: Neucha, sans-serif;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  max-height: 42.8px;
}

   #contact .form-group {
    margin-bottom: 0;
}

.board-item h4, .modal h2 {
  padding: 5px;
  margin: 5px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis; 
}

.board-item:hover {
  border: 3px solid black; 
  cursor: pointer;
}

.-sticky0, .-sticky1, .-sticky2, .-sticky3 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 2px solid black; 
}

.modal, .sticky {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.4);

}

.modal {
    border: none;
    border-radius: 0 !important;
}

.modal-header {
  padding: 2px 16px;
  background-color: #ddd;
  color: black; 
  border: 5px solid white;
  border-radius: 5px;
}

.modal-body {
  padding: 2px 16px;
  overflow: hidden;
  text-overflow: ellipsis; 
}

  .modal-body p {
    color: black;
    margin: 5px;
    font-size: 1rem;
  }

.modal-footer {
  padding: 2px 16px;
  background-color: #ddd;
  color: black;
  font-style: italic;
  padding-bottom: 5px; 
  border: 5px solid white;
  border-radius: 5px;
}

.modal-content {
  margin: 10% auto;
  /* 15% from the top and centered */
  padding: 0px;
  position: relative;
  background-color: #fefefe;
  border: none;
  width: calc(90% / 2);
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s; 
}

.close {
  float: right;
  font-size: 28px;
  font-weight: bold; 
  color: white;
  opacity: 1;
  margin-top: 5px !important;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer; 
}

#close {
  float: right; 
}

.modal#modal-input .modal-content {
  margin: 5% auto; 
}

.modal#modal-input .modal-content {
  border: 5px solid #ddd;
  border-radius: 5px; 
}

.modal#modal-input .modal-content .modal-header {
  background-color: #ddd; 
}

.delete {
  font-weight: bold;
  color: darkred; 
}

#contact {
  color: black;
}

#contactForm > div > div {
  width: 95%;
  margin-left: auto;
  margin-right: auto; 
}

input, textarea {
  width: 100%; 
  font-size: 1rem;
}

#submit {
  width: auto;
  margin-top: 5px;
  margin-bottom: 5px;
  font-weight: bold;
  padding: 10px;
  color: black;
  background-color: #ddd; 
}
.form-group legend, .form-group>label {
    margin-top: .5rem;
}

#modal-input > div > div.modal-footer {
  background-color: white; 
}

#alert {
  text-align: center; 
}

#myCaptcha div {
  margin-left: auto;
  margin-right: auto; 
}

.panel {
  width: 100%; 
}

#root {
  height: 100%;
    min-height: 100%;
}

#myNavbar {
  margin-top: 10px;
  margin-bottom: 10px;
  padding-left: 0;
  padding-right: 0;
  margin-right: 0;
  margin-left: 0;
}



h1 {
    margin: 0.5rem;
}

h3 {
    margin-top: 10px;
    font-size: 1.4rem;
}

  h4 {
    font-size: 1.2rem;
}

#root .firebaseui-idp-list>.firebaseui-list-item {
    display: inline;
}

#root .firebaseui-idp-list {
    margin: 0.5em 0;
}

#root .firebaseui-container {
    max-width: 500px;
}

@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0; }
  to {
    top: 0;
    opacity: 1; } 
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0; }
  to {
    top: 0;
    opacity: 1; } 
}

@media only screen and (max-width: 1200px) {
  .board-item {
    width: calc(33.3333% - 20px); } 
}

@media only screen and (max-width: 992px) {
  .board-item {
    width: calc(50% - 20px); }
  .modal-content {
    width: 50%; } 
}

@media only screen and (max-width: 768px) {
  .board-item {
    width: 100%; }
  .modal-content {
    width: 75%; } 
}